module "web" {
  source       = "./modules/node"

  name         = "web"
  cluster      = module.gke-cluster.cluster_name
  machine_type = "g1-small"
}

#module "core" {
#  source       = "./modules/node"
#
#  name         = "core"
#  cluster      = module.gke-cluster.cluster_name
#  machine_type = "g1-small"
#}
